<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{user_layout}">
<head>
    <meta charset="UTF-8">
    <title>User Register</title>
</head>
<body>
<section id="register" class="text-center" layout:fragment="content">
    <!--Grid row-->
    <!-- Heading -->
    <h2 class="mb-5 font-weight-bold text-center">Register</h2>
    <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

            <div class="view overlay z-depth-1-half">
                <h4 class="my-4 font-weight-bold">Registration Validations</h4>
                <!--<div th:errors="${user.*}">...</div>-->
                <ul th:if="${#fields.hasErrors('${user.*}')}" class="text-left">
                    <li th:each="err : ${#fields.errors('${user.*}')}" th:text="${err}">Input is incorrect</li>
                </ul>
                <div class="mask rgba-white-slight"></div>
            </div>


        </div>

        <!--Grid column-->
        <div class="col-lg-8 col-md-6 mb-4">
            <div class="view overlay z-depth-1-half">
                <!-- Default form register -->
                <form action="#" th:action="@{/register}" th:object="${user}"
                      class="text-center border border-light p-5" method="post"><p class="h4 mb-4">
                    Registration</p>

                    <div class="form-row mb-4">
                        <div class="col">
                            <!-- First name -->
                            <input type="text" th:field="*{firstName}" name="firstName"
                                   id="defaultRegisterFormFirstName"
                                   class="form-control" th:errorclass="fieldError" placeholder="First name"/>
                            <!--<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Invalid</p>-->
                        </div>
                        <div class="col">
                            <!-- Last name -->
                            <input type="text" th:field="*{lastName}" name="lastName"
                                   id="defaultRegisterFormLastName"
                                   class="form-control" placeholder="Last name">
                        </div>
                    </div>

                    <!-- E-mail -->
                    <input type="email" th:field="*{email}" name="email" id="defaultRegisterFormEmail"
                           class="form-control mb-4"
                           placeholder="E-mail" autofocus="autofocus" th:errorclass="fieldError">

                    <!-- Password -->
                    <input type="password" th:field="*{password}" name="password"
                           id="defaultRegisterFormPassword" class="form-control"
                           placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                        At least 8 characters and 1 digit
                    </small>

                    <!-- Phone number -->
                    <input type="text" name="phone" th:field="*{phone}" id="defaultRegisterPhonePassword"
                           class="form-control"
                           placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                        Optional - for two step authentication
                    </small>

                    <!-- Newsletter -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our
                            newsletter</label>
                    </div>

                    <!-- Sign up button -->
                    <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>

                    <hr>

                    <!-- Terms of service -->
                    <p>By clicking
                        <em>Sign up</em> you agree to our
                        <a href="" target="_blank">terms of service</a> and
                        <a href="" target="_blank">terms of service</a>. </p>

                </form>
                <!-- Default form register -->
            </div>
        </div>
    </div>

</section>
<script>$(document).ready(function () {
    // Handler for .ready() called.
    $('html, body').animate({
        scrollTop: $('#register').offset().top
    }, 'slow');
});</script>
</body>
</html>